<html>
    <head>
        <title>Зеркальное озеро</title>
    </head>
    <body>
        <div>
            <h1><a href="/">ГЛАВНАЯ СТРАНИЦА НЕ МОЕГО САЙТА</a></h1>

        </div>
        {% for post in posteki %}
            <div>
                <h2>
                    <a href="post/{{ post.id }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p>
                    {{ post.text }}
                </p>
            </div>

 
        {% endfor %}
    </body>
</html>
