<html>
    <head>
        <title>Зеркальное озеро</title>
    </head>
    <body>
        <div>
            <h1><a href="/">ВОЗВРАТИ МЕНЯ ОБРАТНО</a></h1>

        </div>

            <div>

                <h2>
                    <a href="/post/{{ post.id }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p>

                </p>
                <h1>
                    КОМЕНТАРИИ

                </h1>
                {% endfor %}
            </div>

    </body>
</html>
